HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
docker-compose.yml
keys.properties
env.properties

##unkown files

mysql/#innodb_redo/#ib_redo15
mysql/#innodb_redo/#ib_redo16
mysql/#innodb_redo/#ib_redo17
mysql/#ib_16384_0.dblwr
mysql/#innodb_redo/#ib_redo14
mysql/#innodb_redo/#ib_redo15_tmp
mysql/#innodb_redo/#ib_redo16_tmp
mysql/#innodb_redo/#ib_redo17_tmp
mysql/binlog.000004
mysql/ibdata1
mysql/mysql.ibd
mysql/tmgr_db/comment.ibd
mysql/tmgr_db/task.ibd
mysql/tmgr_db/user.ibd
mysql/undo_001
mysql/undo_002